ul {
	list-style: none;
}
#mainMenu {
	margin: 10px;
	width: 900px;
	font-family: sans-serif;
}
#mainMenu li {
	display:block;
	width:120px;
	float:left;
	margin-left:2px;
	border:1px solid #000;
}
#mainMenu a {
	display:block;
	padding:3px;
	text-decoration:none;
	background-color:#fff;
	color:rgb(11, 53, 105);
}
#mainMenu a:hover {
	background-color:rgb(11, 53, 105);
	color:#fff;
}
.imgs{
    display: block;
    padding: 40px;
    margin: 20px;
}
  h3{
      color: rgb(19, 57, 132);
  }